* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;
}

.logo {
    padding: 0 2rem;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

nav {
    border-bottom: 1px solid #ddd;
}

nav a {
    color: #666;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
}

nav a:hover {
    color: #333;
}

form input {
    width: 600px;
    border-radius: 5rem;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
}

form input:hover, form input:active {
    box-shadow: 0 0.2rem 0.4rem #ddd;
}

.left, .right {
    display: flex;
    list-style: none;
    align-items: center;
}

/* General */
ul li {
    padding: 1.2rem 0.5rem;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.limiter {
    max-width: 600px;
    margin-left: 14rem;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn a {
    background-color: rgb(66, 133, 244);
    padding: 0.7rem 1.4rem;
    color: #fff;
    font-weight: bold;
    border-radius: 2px;
}

.btn a:hover {
    color: #fff;
    text-decoration: none;
}

.current {
    color: rgb(66, 133, 244);
    border-bottom: 2px solid rgb(66, 133, 244);
}

.current a {
    color: rgb(66, 133, 244);
    font-weight: bold;
}

.btn a:active {
    background-color: rgb(44, 111, 233);
}

.btn-light {
    border: 1px solid transparent;
}

.btn-light:hover {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #777;
}

/* Main */
.results {
    font-size: 1.3rem;
    padding-top: 1rem;
    color: #777;
}

.page {
    padding: 1rem 0;
    font-size: 1.3rem;
}

.page h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: rgb(37, 93, 182);
}

.page h3:hover {
    text-decoration: underline;
}

.page p {
    margin-bottom: 0.5rem;
}

.page a:first-child {
    color: rgb(21, 128, 78);
    text-decoration: none;
}

/* Search Navigation */
.search-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

table .lets {
    font-size: 3rem;
    text-align: center;
}

table .nums {
    font-size: 1rem;
    font-weight: lighter;
    text-align: center;
}

table .nums a {
    text-decoration: none;
}

table .nums a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #eee;
    font-size: 1.3rem;
    color: #666;
    width: 100%;
    border-top: 1px solid #ddd;
}

footer p {
    padding: 1rem 0.5rem;
    margin-left: 130px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 100%;
    border-top: 1px solid #ddd;
}

.footer a {
    color: #666;
    text-decoration: none;
    font-size: 1.3rem;
}

.footer ul:first-child {
    margin-left: 130px;
}

.footer a:hover {
    color: #888;
    text-decoration: underline;
}

/* logo colors */
.d {
    color: rgb(66, 133, 244);
}

.o, .e {
    color: rgb(219,68,55);
}

.second-o {
    color: rgb(244,160,0);
}

.l {
    color: rgb(15,157,88);
}
